* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fbfefc;
  font-family: "Jost", sans-serif;
  /* uncomment below if you dont want extra space at the bottom */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #fff;
  position: absolute;
  width: 100%;
  max-width: 100%;
  z-index: 100;

  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0.6s;
  transition: opacity 0.6s ease 0.6s;
}

.showNav {
  opacity: 1;
}

.logo {
  font-size: 24px;
  letter-spacing: 5px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
  padding: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

.nav-links li a.active {
  color: #9c9999;
}

.nav-links li a:hover {
  color: #9c9999;
}

.nav-links li:last-child a {
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px;
}

.nav-links li:last-child a:hover {
  background-color: #fff;
  color: black;
}

.header-img-container {
  position: relative;
}

.header-img {
  width: 100%;
  max-width: 100%;
  height: 650px;
  filter: brightness(0.4) contrast(0.9);
  object-fit: cover;
  z-index: 99;
  user-select: none;
  pointer-events: none;
}

.header-span {
  position: absolute;
  color: #fff;
  font-size: 80px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: 300;
  line-height: 1.2;

  opacity: 0;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.navbar-toggle {
  display: none;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 32px;
}

.navbar-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: black;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 101;
  list-style: none;
  width: 200px;
}

.navbar-dropdown li {
  margin-bottom: 5px;
}

.navbar-dropdown a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-dropdown a:hover {
  background-color: #333;
}

.showSpan {
  opacity: 1;
}

.showDropdown {
  display: block;
}

.content-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 1000px;
  margin: 80px auto;
}

.content-container h1 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.content-container h2 {
  font-size: 26px;
  font-weight: 250;
}

.img-container {
  position: relative;
}

.img-content {
  width: 100%;
  max-width: 100%;
  height: 400px;
  filter: brightness(0.4) contrast(0.9);
  object-fit: cover;
  z-index: 99;
  user-select: none;
  pointer-events: none;
}

.img-span {
  position: absolute;
  color: #fff;
  font-size: 80px;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: 300;
  line-height: 1.2;

  white-space: nowrap;
  overflow: hidden;
}

.imran-desc-container {
  display: flex;
  gap: 20px;
  width: 60%;
  margin: 80px auto;
}

.imran-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imran-img img {
  border-radius: 4px;
}

.imran-desc h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.imran-desc p {
  font-size: 18px;
  font-weight: 300;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 60%;
  margin: 80px auto;
}

.services-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.services-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-row h3 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
  min-width: 200px;
  max-width: 200px;
}

.services-row p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

hr {
  color: #d7d8d6;
  height: 1px;
  background-color: dimgray;
}

.cfo-stuff {
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
}

.cfo-stuff h3 {
  font-size: 32px;
  text-align: center;
  font-weight: 250;
  letter-spacing: 2px;

  margin-bottom: 60px;
}

.services-desc ul {
  margin-left: 40px;
}

.services-desc ul li {
  font-size: 18px;
  font-weight: 300;
}

footer {
  background-color: #201a16;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 33%;
  margin: 80px auto;
}

.contact-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-header h2 {
  font-size: 28px;
}

.contact-header p {
  font-size: 18px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h3 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;

  margin-bottom: 20px;
  margin-top: 60px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-container {
  display: flex;
  gap: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  padding: 10px;
}

.name label {
  font-size: 12px;
}

.required {
  font-size: 12px;
  opacity: 0.7;
  margin-left: 2px;
}

input {
  width: 100%;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  resize: none;
}

form button {
  width: 25%;
  padding: 15px;
  background-color: #1f1f1f;
  color: #fff;
  border: none;
  cursor: pointer;

  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

form button:hover {
  color: #ffffff;
  background-color: #333333;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .header-span {
    font-size: 32px;
  }

  .header-img {
    height: 475px;
  }

  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: 18px;
  }

  .content-container {
    width: 90%;
    margin: 30px auto;
  }

  .content-container h1 {
    font-size: 30px;
  }

  .content-container h2 {
    font-size: 26px;
  }

  .img-span {
    font-size: 32px;
  }

  .imran-desc-container {
    flex-direction: column;
    width: 90%;
  }

  .imran-img {
    align-self: center;
  }

  .imran-desc h3 {
    text-align: center;
  }

  .services-container {
    width: 90%;
  }

  .services-row {
    flex-direction: column;
    gap: 20px;
  }

  .cfo-stuff {
    width: 90%;
  }

  .cfo-stuff h3 {
    font-size: 24px;
  }

  .contact-container {
    width: 90%;
  }

  form button {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content-container {
    width: 90%;
  }

  .imran-desc-container {
    width: 90%;
  }

  .services-container {
    width: 90%;
  }

  .cfo-stuff {
    width: 90%;
  }

  .contact-container {
    width: 66%;
  }

  form button {
    width: 100%;
  }
}
